<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/main.css' %}">
    <!-- 页签显示标题，经常变动   -->
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% block head %}
        <h1>引用额外的资源文件</h1>
    {% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>