include LICENSE
include README.md
include manage.py
include setup.py
include Dockerfile
include uwsgi.ini
include nginx.conf
include *.sh
include requirements.txt
recursive-include apps *
recursive-include static *
recursive-include media *
recursive-include templates *

recursive-include docs *